.wrapper {
    position: relative;
    width: 1000px;
    height: 520px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    display: flex;
    transition: height 0.2s ease;
    
    top: 35px;
}

.transparente{
    background: transparent;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
   
}

.otraclase::-webkit-scrollbar{
    display: none;
}

.otraclase{
    overflow: auto;
}