<app-nav-bar></app-nav-bar>


<div class="wrapper flex-col h-3/4 ">
	<div class="flex-col h-6/8 otraclase">

		<div class="py-2 px-10 " *ngFor="let chat of chatsFirebase">
			<div class="flex"
			[ngClass]="{'flex-row-reverse':chat._uid===id_logueado}">
				<div class= "transparente bg-white p-4 w-96 rounded-3xl" 
				[ngClass]="{'rounded-br-none':chat._uid===id_logueado,'rounded-bl-none':chat._uid!==id_logueado}"
				>
					<p class="mb-1 text-white ">{{chat.name}}</p>
					<small class="text-white font-light">
						{{chat.mensaje}}
					</small>
					<p></p>
					<small class="text-white"	>{{chat.fecha}}</small>
				</div>
			</div>
		</div>
	</div>

	<form class="py-6 px-20 flex border-t h-1/8" [formGroup]="form" (submit)="enviarMensaje()">

			<input 
			class="px-4 py-2 transparente w-full focus:outline-none text-white" 
			placeholder="Estriba su mensaje..."
			[formControl]="form.controls.mensaje">
			<button class=" text-white rounded px-14 py-2 transparente" [disabled]="!form.valid"> Enviar</button>
			
		
	</form>
</div>
