<app-nav-bar></app-nav-bar>
<section class="home">
    <div class="home-content">
        <h3>hola yo soy</h3>
        <h1>Gabriel Remón</h1>
        <h3>Y soy <strong class="cambio"></strong></h3>
        <p>
            Estoy cursando el ultimo cuatrimestre de la tecnicatura en programacion 
            de la UTN. Siempre busco nuevos conocimientos para aprender.
            Mi juego para este trabajo practico se llama, piedra, papel tijeras, 
            lagarto, spock. es una variante del piedra papel o tijeras pero con 5 opciones enves de 3
        </p>
        <div class="social-media">
            <a href="https://github.com/gabriel-remon"><i class='bx bxl-github' style="--i:7;"></i></a>
            <a href="https://ar.linkedin.com/in/gabriel-remon"><i class='bx bxl-linkedin-square'style="--i:8;" ></i></a>
        </div>
        <a href="./assets/cv.pdf" class="btn">Ver curriclum</a>
    </div>

    <div class="home-img">
        <img src="./assets/personalSinFondo.png" alt="">
    </div>
</section>

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>