<div  class="mazo" (click)="elegirCarta()">
    <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
    <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
    <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
    <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
    <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
    <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta" >
    <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
    <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
    <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
    <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
    <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
    <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
    <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
    
    <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta" class="ocultarCarta" id="seleccion">
</div>