<div  class="mazo" *ngIf="!estadoElegida" id="mazo" (click)="elegirCarta()">
    <div>
        <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
        <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
        <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
        <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
        <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
        <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta" >
        <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
        <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
        <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
        <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
        <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
        <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
        <img src="./assets/cartas/tapa.png" alt="parte trasera de la carta">
    </div>
    
</div>

<div class="mazoAux" id="mazoSeleccion" *ngIf="estadoElegida">
    <img src={{CartaSeleccionada}} alt="Carta seleccionada" class="cartaSeleccionada" id="seleccion">

</div>