<div class="flex-col flex" >
    <div class="flex-row flex">
        <div class="recuadro" (click)="enviarLetra('A')" id="A"><p>A</p></div>
        <div class="recuadro" (click)="enviarLetra('B')" id="B"><p>B</p></div>
        <div class="recuadro" (click)="enviarLetra('C')" id="C"><p>C</p></div>
        <div class="recuadro" (click)="enviarLetra('D')" id="D"><p>D</p></div>
        <div class="recuadro" (click)="enviarLetra('E')" id="E"><p>E</p></div>
        <div class="recuadro" (click)="enviarLetra('F')" id="F"><p>F</p></div>
        <div class="recuadro" (click)="enviarLetra('G')" id="G"><p>G</p></div>
        <div class="recuadro" (click)="enviarLetra('H')" id="H"><p>H</p></div>
        <div class="recuadro" (click)="enviarLetra('I')" id="I"><p>I</p></div>
    </div>
    <div class="flex-row flex">
        <div class="recuadro" (click)="enviarLetra('J')" id="J"><p>J</p></div>
        <div class="recuadro" (click)="enviarLetra('K')" id="K"><p>K</p></div>
        <div class="recuadro" (click)="enviarLetra('L')" id="L"><p>L</p></div>
        <div class="recuadro" (click)="enviarLetra('M')" id="M"><p>M</p></div>
        <div class="recuadro" (click)="enviarLetra('N')" id="N"><p>N</p></div>
        <div class="recuadro" (click)="enviarLetra('Ñ')" id="Ñ"><p>Ñ</p></div>
        <div class="recuadro" (click)="enviarLetra('O')" id="O"><p>O</p></div>
        <div class="recuadro" (click)="enviarLetra('P')" id="P"><p>P</p></div>
        <div class="recuadro" (click)="enviarLetra('Q')" id="Q"><p>Q</p></div>
    </div>
    <div class="flex-row flex">
        <div class="recuadro" (click)="enviarLetra('R')" id="R"><p>R</p></div>
        <div class="recuadro" (click)="enviarLetra('S')" id="S"><p>S</p></div>
        <div class="recuadro" (click)="enviarLetra('T')" id="T"><p>T</p></div>
        <div class="recuadro" (click)="enviarLetra('U')" id="U"><p>U</p></div>
        <div class="recuadro" (click)="enviarLetra('V')" id="V"><p>V</p></div>
        <div class="recuadro" (click)="enviarLetra('W')" id="W"><p>W</p></div>
        <div class="recuadro" (click)="enviarLetra('X')" id="X"><p>X</p></div>
        <div class="recuadro" (click)="enviarLetra('Y')" id="Y"><p>Y</p></div>
        <div class="recuadro" (click)="enviarLetra('Z')" id="Z"><p>Z</p></div>
    </div>
</div>