.recuadro{
    position: relative;
    width: 80px;
    height: 80px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height 0.2s ease;
    margin: 10px;
    color: aliceblue;
    font-size: 28px;
}
p{
    margin: 0;
}
.hide{
    visibility: hidden;
}

