.contenedorPalabras ,.ahorcado,.letra{
    position: relative;
    
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;  
    overflow: hidden;
   transition: height 0.2s ease;
   top: 0;
   margin: 10px;
}
.ahorcado{
    height: 200px;
    width: 250px
}
.contenedorPalabras{
    height: 200px;
    width: 600px
}
.letra{
    height: 60px;
    width: 60px;
    margin: 5px;
    font-size: 20px;
    color: aliceblue;
}

.hide{
    visibility: hidden;
}
.letra p{
    margin: 0;
}

img{
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

h2{
    font-size: 25px;
    color: aliceblue;
    text-decoration: underline;
}

h3{
    margin-top: 10px;
    font-size: 20px;
    color: aliceblue;

}