<app-nav-bar></app-nav-bar>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="flex flex-row ">

        <div class="flex flex-col  contenedorPalabras">
            <h2 >EL ahorcado</h2>
            <div class="flex flex-row ">
                <div class="letra hide"></div>
                <div class="letra hide"></div>
                <div class="letra hide"></div>
                <div class="letra hide"></div>
                <div class="letra hide"></div>
                <div class="letra hide"></div>
                <div class="letra hide"></div>
                <div class="letra hide"></div>
            </div>

            <h3 >Su puntaje es: {{exitosos}}</h3>
        </div>
   


    <div class="ahorcado"  >
        <img [src]="imagenAhorcado" alt="imagen del ahorcado">
    </div>
</div>

<app-teclado (teclaPulsada)="intentarLetra($event)" id="teclado"></app-teclado>