<app-nav-bar></app-nav-bar>

<div>
    <div>
        <app-ingreso-juego [link]="linkJuego1" [text]="textJuego1" (click) = "goto('games/asked')"></app-ingreso-juego>
        <app-ingreso-juego [link]="linkJuego2" [text]="textJuego2" (click) = "goto('games/hanged')"></app-ingreso-juego>
    </div>
    
    <div>
        <app-ingreso-juego [link]="linkJuego3" [text]="textJuego3" (click) = "goto('games/cards')"></app-ingreso-juego>
        <app-ingreso-juego [link]="linkJuego4" [text]="textJuego4" (click) = "goto('games/custom')"></app-ingreso-juego>

    </div>
</div>