div{
    display: flex;
    flex-direction: row;
}

@media only screen and (min-width:320px) and (max-width:768px){
    div{
        display: flex;
        flex-direction: column;
    }
    div div{
        display: flex;
        flex-direction: row;
    }
}
