/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import '../node_modules/ngx-spinner/animations/ball-scale-multiple.css';
body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97.8vh;
    background: url('./assets/sala_juegos.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
